
.titulo{
    border: 1px solid rgba(0, 0, 0, 0.308);
    width: 80%;
    margin: 0 auto;
    text-align: center;
    background-color: #333;
    color: #efefef;
    max-width: 700px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.267);
}

h3{
    width: 100%;
    font-size: 1.5em;
    padding-top: 10px;
}
h4{
    color: greenyellow;
    text-decoration: underline;
}
p{
    padding: 5px;
    font-size: 17px;
    text-transform: uppercase;
}